<!DOCTYPE html>
<html lang="en">
    <head>
        <% include htm/header.html %>
    </head>

    <body>
        <div class="navbar navbar-default" id="navbar">
            <script type="text/javascript">
                try{ace.settings.check('navbar' , 'fixed')}catch(e){}
            </script>

            <div class="navbar-container" id="navbar-container">
                <% include htm/title.html %> 
            </div><!-- /.container -->
        </div>

        <div class="main-container" id="main-container">
            <script type="text/javascript">
                try{ace.settings.check('main-container' , 'fixed')}catch(e){}
            </script>

            <div class="main-container-inner">
                <a class="menu-toggler" id="menu-toggler" href="#">
                    <span class="menu-text"></span>
                </a>

                <% include htm/navbar.html %>

                <div class="main-content">
                    

                    <div class="page-content">

                        <div class="row">
                                    <div class="col-xs-12">
                                        <h3 class="header smaller lighter blue">
                                            <%= title %>
                                            <small>
                                                <i class="icon-double-angle-right"></i>
                                                规则说明
                                            </small>
                                        </h3>
                                        <div class="table-responsive">
                                            <%- content %>
                                        </div>
                                    </div>
                                </div><!-- /.row -->
                    </div><!-- /.page-content -->
                </div><!-- /.main-content -->

                
            </div><!-- /.main-container-inner -->

            <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
                <i class="icon-double-angle-up icon-only bigger-110"></i>
            </a>
        </div><!-- /.main-container -->

        <!-- basic scripts -->

        <% include htm/footer.html %>

</body>
</html>

